body {
    background-color: #fef6dd;
    letter-spacing: 0.2vh;
    line-height: 2;
    font-family: 'Roboto';
}

h4 {
    font-weight: 800;
    color: #555;
}

body,html {
    margin: 0;
    padding: 0;
}

.maintitle {
    font-size: 140px;
    font-weight: 500;
}

#home{
    background-size: cover;
    background-position: bottom center;
    background-repeat: none;
    height: 100vh;
    background: linear-gradient(to right, #faf3dd 70%, #64958f 30%);
}

.navfont{
    font-weight: 900;
    letter-spacing: 1vh;
    font-size: 100%;
    margin-top: 3vh;
    font-size: 22px;
    
}

.spacing{
    letter-spacing: 1vh;
}

.rectangulo{
    position: absolute;
    width: 30%;
    margin-top: 10vh; 
    height: 0; 
    border: 1px solid #555;
}

.rectangulo2{
    margin: auto;
    width: 0;
    border-left: 3px solid rgb(128, 121, 121);
    padding: 10px;
    height: 300vh;
}

.rectangulos3{
    position: absolute;
    width: 40%;
    height: 0; 
    left: 0;
    border: 1px solid #555;
}

.rectangulos4{
    position: absolute;
    width: 45%;
    height: 0; 
    right: 0;
    border: 1px solid #555;
}

.rectangulos5{
    position: absolute;
    width: 50%;
    height: 0; 
    left: 0;
    border: 1px solid #555;
}

.parallaxleanright{
    margin-left: 20%;
}

.parallaxleanleft{
    margin-right: 20%;
    margin-bottom: 5%;
}

.greencolor{
    background-color: #64958f;
}

.navbar{
    background-color: #ffbb91    ;
}

.title{
    font-size: 15vh;
    font-weight: 900;
}

.align{
    padding-top: 30vh;
}

div{
    text-align: justify;
}

.pt1 {
    padding-top: 3vh;
}

.pt2 {
    margin-top: 6vh;
}

.white-letters{
    color: #faf3dd
}

.row2{
    margin-top: 20%;
}

.row3{
    margin-top: -20%;
}


/* footer */

.footer{
    left: 0;
    bottom: 0;
    height: 20vh;
    width: 100%;
    margin-top: 10vh;
    background-color: #64958f;
    color: white;
    text-align: center;
    padding-top: 3vh;
}


/* particles */

.particle {
	position: absolute;
 	border-radius: 50%;
}

.particle {
    position: absolute;
    border-radius: 50%;
}
@keyframes particle-animation-1 {
    100% {
        transform: translate3d(67vw, 68vh, 81px);
   }
}
.particle:nth-child(1) {
    animation: particle-animation-1 60s infinite;
    opacity: 0.23;
    height: 6px;
    width: 6px;
    animation-delay: -0.2s;
    transform: translate3d(60vw, 74vh, 100px);
    background: #d94a26;
}
@keyframes particle-animation-2 {
    100% {
        transform: translate3d(80vw, 10vh, 77px);
   }
}
.particle:nth-child(2) {
    animation: particle-animation-2 60s infinite;
    opacity: 0.45;
    height: 10px;
    width: 10px;
    animation-delay: -0.4s;
    transform: translate3d(78vw, 14vh, 89px);
    background: #d97d26;
}
@keyframes particle-animation-3 {
    100% {
        transform: translate3d(39vw, 83vh, 57px);
   }
}
.particle:nth-child(3) {
    animation: particle-animation-3 60s infinite;
    opacity: 0.68;
    height: 8px;
    width: 8px;
    animation-delay: -0.6s;
    transform: translate3d(41vw, 23vh, 43px);
    background: #d94426;
}
@keyframes particle-animation-4 {
    100% {
        transform: translate3d(75vw, 77vh, 47px);
   }
}
.particle:nth-child(4) {
    animation: particle-animation-4 60s infinite;
    opacity: 0.46;
    height: 9px;
    width: 9px;
    animation-delay: -0.8s;
    transform: translate3d(4vw, 37vh, 34px);
    background: #d9d626;
}
@keyframes particle-animation-5 {
    100% {
        transform: translate3d(18vw, 54vh, 92px);
   }
}
.particle:nth-child(5) {
    animation: particle-animation-5 60s infinite;
    opacity: 0.64;
    height: 10px;
    width: 10px;
    animation-delay: -1s;
    transform: translate3d(32vw, 20vh, 84px);
    background: #85d926;
}
@keyframes particle-animation-6 {
    100% {
        transform: translate3d(47vw, 9vh, 60px);
   }
}
.particle:nth-child(6) {
    animation: particle-animation-6 60s infinite;
    opacity: 0.99;
    height: 10px;
    width: 10px;
    animation-delay: -1.2s;
    transform: translate3d(69vw, 80vh, 62px);
    background: #d99426;
}
@keyframes particle-animation-7 {
    100% {
        transform: translate3d(35vw, 4vh, 45px);
   }
}
.particle:nth-child(7) {
    animation: particle-animation-7 60s infinite;
    opacity: 0.84;
    height: 8px;
    width: 8px;
    animation-delay: -1.4s;
    transform: translate3d(50vw, 83vh, 5px);
    background: #6ed926;
}
@keyframes particle-animation-8 {
    100% {
        transform: translate3d(27vw, 24vh, 16px);
   }
}
.particle:nth-child(8) {
    animation: particle-animation-8 60s infinite;
    opacity: 0.32;
    height: 10px;
    width: 10px;
    animation-delay: -1.6s;
    transform: translate3d(16vw, 42vh, 3px);
    background: #80d926;
}
@keyframes particle-animation-9 {
    100% {
        transform: translate3d(48vw, 2vh, 11px);
   }
}
.particle:nth-child(9) {
    animation: particle-animation-9 60s infinite;
    opacity: 0.73;
    height: 6px;
    width: 6px;
    animation-delay: -1.8s;
    transform: translate3d(45vw, 33vh, 53px);
    background: #32d926;
}
@keyframes particle-animation-10 {
    100% {
        transform: translate3d(49vw, 36vh, 33px);
   }
}
.particle:nth-child(10) {
    animation: particle-animation-10 60s infinite;
    opacity: 0.48;
    height: 8px;
    width: 8px;
    animation-delay: -2s;
    transform: translate3d(55vw, 89vh, 70px);
    background: #d0d926;
}
@keyframes particle-animation-11 {
    100% {
        transform: translate3d(60vw, 37vh, 17px);
   }
}
.particle:nth-child(11) {
    animation: particle-animation-11 60s infinite;
    opacity: 0.93;
    height: 10px;
    width: 10px;
    animation-delay: -2.2s;
    transform: translate3d(68vw, 74vh, 83px);
    background: #d92f26;
}
@keyframes particle-animation-12 {
    100% {
        transform: translate3d(48vw, 6vh, 7px);
   }
}
.particle:nth-child(12) {
    animation: particle-animation-12 60s infinite;
    opacity: 0.07;
    height: 7px;
    width: 7px;
    animation-delay: -2.4s;
    transform: translate3d(65vw, 20vh, 80px);
    background: #d95326;
}
@keyframes particle-animation-13 {
    100% {
        transform: translate3d(24vw, 64vh, 15px);
   }
}
.particle:nth-child(13) {
    animation: particle-animation-13 60s infinite;
    opacity: 0.21;
    height: 7px;
    width: 7px;
    animation-delay: -2.6s;
    transform: translate3d(31vw, 86vh, 62px);
    background: #26d94d;
}
@keyframes particle-animation-14 {
    100% {
        transform: translate3d(61vw, 6vh, 59px);
   }
}
.particle:nth-child(14) {
    animation: particle-animation-14 60s infinite;
    opacity: 0.68;
    height: 10px;
    width: 10px;
    animation-delay: -2.8s;
    transform: translate3d(37vw, 41vh, 50px);
    background: #50d926;
}
@keyframes particle-animation-15 {
    100% {
        transform: translate3d(24vw, 70vh, 100px);
   }
}
.particle:nth-child(15) {
    animation: particle-animation-15 60s infinite;
    opacity: 0.92;
    height: 6px;
    width: 6px;
    animation-delay: -3s;
    transform: translate3d(87vw, 31vh, 55px);
    background: #88d926;
}
@keyframes particle-animation-16 {
    100% {
        transform: translate3d(88vw, 22vh, 54px);
   }
}
.particle:nth-child(16) {
    animation: particle-animation-16 60s infinite;
    opacity: 0.18;
    height: 6px;
    width: 6px;
    animation-delay: -3.2s;
    transform: translate3d(15vw, 49vh, 33px);
    background: #d95626;
}
@keyframes particle-animation-17 {
    100% {
        transform: translate3d(51vw, 10vh, 92px);
   }
}
.particle:nth-child(17) {
    animation: particle-animation-17 60s infinite;
    opacity: 0.48;
    height: 7px;
    width: 7px;
    animation-delay: -3.4s;
    transform: translate3d(30vw, 63vh, 19px);
    background: #d95626;
}
@keyframes particle-animation-18 {
    100% {
        transform: translate3d(84vw, 29vh, 92px);
   }
}
.particle:nth-child(18) {
    animation: particle-animation-18 60s infinite;
    opacity: 0.89;
    height: 10px;
    width: 10px;
    animation-delay: -3.6s;
    transform: translate3d(7vw, 4vh, 68px);
    background: #8ed926;
}
@keyframes particle-animation-19 {
    100% {
        transform: translate3d(72vw, 22vh, 84px);
   }
}
.particle:nth-child(19) {
    animation: particle-animation-19 60s infinite;
    opacity: 0.94;
    height: 6px;
    width: 6px;
    animation-delay: -3.8s;
    transform: translate3d(66vw, 33vh, 27px);
    background: #26d94a;
}
@keyframes particle-animation-20 {
    100% {
        transform: translate3d(27vw, 86vh, 38px);
   }
}
.particle:nth-child(20) {
    animation: particle-animation-20 60s infinite;
    opacity: 0.62;
    height: 10px;
    width: 10px;
    animation-delay: -4s;
    transform: translate3d(86vw, 25vh, 18px);
    background: #d9d926;
}
@keyframes particle-animation-21 {
    100% {
        transform: translate3d(5vw, 63vh, 75px);
   }
}
.particle:nth-child(21) {
    animation: particle-animation-21 60s infinite;
    opacity: 0.25;
    height: 9px;
    width: 9px;
    animation-delay: -4.2s;
    transform: translate3d(3vw, 28vh, 13px);
    background: #38d926;
}
@keyframes particle-animation-22 {
    100% {
        transform: translate3d(36vw, 21vh, 50px);
   }
}
.particle:nth-child(22) {
    animation: particle-animation-22 60s infinite;
    opacity: 0.88;
    height: 10px;
    width: 10px;
    animation-delay: -4.4s;
    transform: translate3d(47vw, 67vh, 32px);
    background: #d9a926;
}
@keyframes particle-animation-23 {
    100% {
        transform: translate3d(63vw, 7vh, 40px);
   }
}
.particle:nth-child(23) {
    animation: particle-animation-23 60s infinite;
    opacity: 0.37;
    height: 7px;
    width: 7px;
    animation-delay: -4.6s;
    transform: translate3d(67vw, 43vh, 76px);
    background: #d96e26;
}
@keyframes particle-animation-24 {
    100% {
        transform: translate3d(50vw, 24vh, 53px);
   }
}
.particle:nth-child(24) {
    animation: particle-animation-24 60s infinite;
    opacity: 0.84;
    height: 7px;
    width: 7px;
    animation-delay: -4.8s;
    transform: translate3d(9vw, 19vh, 67px);
    background: #d96826;
}
@keyframes particle-animation-25 {
    100% {
        transform: translate3d(57vw, 3vh, 83px);
   }
}
.particle:nth-child(25) {
    animation: particle-animation-25 60s infinite;
    opacity: 0.23;
    height: 10px;
    width: 10px;
    animation-delay: -5s;
    transform: translate3d(38vw, 18vh, 13px);
    background: #d99726;
}
@keyframes particle-animation-26 {
    100% {
        transform: translate3d(27vw, 22vh, 68px);
   }
}
.particle:nth-child(26) {
    animation: particle-animation-26 60s infinite;
    opacity: 0.3;
    height: 10px;
    width: 10px;
    animation-delay: -5.2s;
    transform: translate3d(26vw, 12vh, 93px);
    background: #d9bb26;
}
@keyframes particle-animation-27 {
    100% {
        transform: translate3d(76vw, 13vh, 93px);
   }
}
.particle:nth-child(27) {
    animation: particle-animation-27 60s infinite;
    opacity: 0.66;
    height: 9px;
    width: 9px;
    animation-delay: -5.4s;
    transform: translate3d(48vw, 56vh, 67px);
    background: #26d926;
}
@keyframes particle-animation-28 {
    100% {
        transform: translate3d(78vw, 49vh, 75px);
   }
}
.particle:nth-child(28) {
    animation: particle-animation-28 60s infinite;
    opacity: 0.46;
    height: 7px;
    width: 7px;
    animation-delay: -5.6s;
    transform: translate3d(43vw, 31vh, 31px);
    background: #b2d926;
}
@keyframes particle-animation-29 {
    100% {
        transform: translate3d(65vw, 73vh, 89px);
   }
}
.particle:nth-child(29) {
    animation: particle-animation-29 60s infinite;
    opacity: 0.85;
    height: 8px;
    width: 8px;
    animation-delay: -5.8s;
    transform: translate3d(85vw, 40vh, 21px);
    background: #26d926;
}
@keyframes particle-animation-30 {
    100% {
        transform: translate3d(65vw, 87vh, 96px);
   }
}
.particle:nth-child(30) {
    animation: particle-animation-30 60s infinite;
    opacity: 0.52;
    height: 7px;
    width: 7px;
    animation-delay: -6s;
    transform: translate3d(36vw, 31vh, 91px);
    background: #6bd926;
}












body {
    background-color: #fef5df;
}
.container2 {
    width: 300px;
    height: 400px;
    top: 0;
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    background: url("src/oceanwaves.jpg");
    background-color: black;
    background-size: cover;
    cursor: pointer;
}
.overlay {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background: rgba(77, 77, 77, .9);
    color: #fef5df;
    opacity: 0;
    transition: all 0.5s;
}
.items {
    padding-left: 20px;
    letter-spacing: 3px;
}
.head {
    font-size: 30px;
    line-height: 40px;
    transform: translateY(40px);
    transition: all 0.7s;
}
.head hr {
    display: block;
    width: 0;
    border: none;
    border-bottom: solid 2px #fef5df;
    position: absolute;
    bottom: 0;
    left: 20px;
    transition: all 0.5s;
}
.price {
    font-size: 22px;
    line-height: 10px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
}
.price .old {
    text-decoration: line-through;
    color: #b3b3b3;
}
.cart {
    font-size: 12px;
    opacity: 0;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    transform: translateY(40px);
    transition: all 0.7s;
}
.cart i {
    font-size: 16px;
}
.cart span {
    margin-left: 10px;
}
.container2:hover .overlay {
    opacity: 1;
}
.container2:hover .overlay .head {
    transform: translateY(0px);
}
.container2:hover .overlay hr {
    width: 75px;
    transition-delay: 0.4s;
}
.container2:hover .overlay .price {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
}
.container2:hover .overlay .cart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
}
